.details{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-wrap: wrap;
    margin: 50px 0;
}

.details img{
    max-width: 500px;
    min-width: 290px;
    height:450px;
    display:block;
    object-fit:cover;
    margin: 25px;
}

.details .content{
    max-width: 500px;
    min-width:290px;
    margin:25px;
    text-align:center;
}

.content .row{
    margin-bottom: 15px;
}

.row h2{
    letter-spacing:2px;
    text-transform:uppercase;
}

.row span{
    font-size: 21px;;
    padding-top:10px;
    color:mediumslateblue;
}

.content p{
    font-size: 20px;
    line-height:1.5;
    margin: 15px 0;
}

.category{ 
    font-size: 15px;
    text-decoration: none;
    border:none;
    color:rgb(103, 60, 128);
}

.category:hover{
    color:gray;
}

.cart button {
    width:180px;
    height:40px;
    border:none;
    background:rgb(201, 74, 201);
    color:white;
}

.cart button:hover{
    background-color: indigo;
}
