.catContainer h2{
    font-size: 3rem;
    text-align:center;
    text-transform: uppercase;
    margin: 10px;
    color:indigo;
    max-height:120vh;
    padding: 20px 20px;
}

.title{
    padding: 10px 10px;
    color:indigo;
}
