.cartItemContainer .compra{
    font-size: 16px;
    color:gray;
}

.cartItemContainer .compra-icon{
    font-size: 18px;
    color:rgb(85, 84, 84);
}

h6{
    color:rgb(85, 84, 84);
}

.cartItemContainer button{
    margin:10px;
}

.cartItemContainer .cantidad{
    font-size: 20px;
    color:indigo;
}

.btn-outline-dark{
    height:40px;
}

.btn-outline-dark:hover{
    background-color:rgb(209, 190, 223);
}

.btn-success{
    background-color:indigo;
    width:180px;
    height:40px;
    border:none;
    margin-bottom:10px;
}

.btn-success:hover{
    background-color:darkorchid!important;
}