*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

header{
    min-height: 80px;
    background: violet;
    overflow:hidden;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
}

.navbar .logo{
    margin-left:50px; 
    letter-spacing:2px;   
}

.navbar a{
    color:white;
    text-decoration: none;
}

.menu li{ 
    display:inline-block;
    text-align:center;
    margin-right:2rem;
    opacity:0.8;
}

.menu a:hover{
    color:mediumslateblue;
}

.cart{
    margin-right:40px;
}