.logo{
    font-weight: 500 !important;
    color:thistle;
}

.container a{
    text-decoration: none;
}

.logo:hover{
    color:rgb(113, 0, 130);
}

.navbar{
    background-color:darkorchid;
    height:80px;
}

.nav-item{
    margin:auto;
}

.nav-icon{
    margin:10px;
    color:white;
}

#main-nav a{
    color:whitesmoke;
    text-decoration: none;
}

#main-nav a:hover{
    color:rgb(236, 198, 255);
}



